[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
opencv-python = "*"
bottle = "*"
torch = "*"
torchvision = "*"
albumentations = "*"

[requires]
python_version = "3.7"
